* {
    box-sizing: border-box;
    outline: none;
    align-items: center;
}

body {
    background-color: #E3E4E0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    border-radius: 15px;
    background-color: #D2C8BF;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(255, 255, 255, 0.7);
}

h1, h2 {
    font-weight: 400;
}

.button {
    margin: 5px;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #333;
    background-color: #E3E4E0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), -4px -4px 4px rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    user-select: none;
    text-decoration: none;
}

.button:hover {
    background-color: #c0b3a9;
}

.button:active {
    background-color: #333;
    color: #fff;
}

.object, .comparison {
    margin: 15px auto;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    color: #333;
    background-color: #E3E4E0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1), -4px -4px 4px rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    user-select: none;
}

.comparison-link {
    text-decoration: none;
    color: #333;
}

.object:hover, .comparison:hover {
    background-color: #c0b3a9;
}

@media screen and (max-width: 600px) {
    .container {
        width: 95%;
    }

    .button {
        width: 90%;
        margin: 10px auto;
    }
}